<% form_for(@question) do | question_form | %>
  <%= question_form.error_messages %>
<p>
  <b>Question:</b>
  <%=h @question.question %>
</p>

  
  <ul>
	  <% i = 0 %>
	  <% question_form.fields_for :answers do |answer_form| %>
	    <li>
	      <% index = @question.answers.index(@question.correct_answer) %>
     		<%= answer_form.text_field :text %>
	      <%= radio_button_tag(:correct_answer, i, i == index)%>
     		
	    </li>
	    
   		<% i += 1 %>
	  <% end %>
	</ul>

<%= f.submit "AnswerCreate" %>

<%end %>

