<html>
 <head>
  <title>Edit Question</title>
 </head>
 <body>
 <h1>Edit Question</h1>

 <form action="../update/<%= @question.id %>" method="POST"">
  <input id="question_id" name="question[id]" size="30" 
         type="hidden" value="<%= @question.id %>" />
  <p><b>Question</b><br>
  <input id="question_question" name="question[question]" size="30" 
         type="text" value="<%= @question.question %>" />
  </p>
  <p><b>answer</b><br>
  <input id="question_answer" name="question[answer]" 
         size="30" type="text" 
         value="<%= @question.answer %>" />
  </p>


  <input type="submit" value="Update" />
 </form>

 <a href="/question/show/<%= @question.id %>">
   Show
 </a> | 
  <a href="/question/show">
  Back 
 </a>

 </body>
</html>