<h1>Listing questions</h1>

<table>
  <tr>
    <th>Answer</th>
    <th>Question</th>
    <th>Hunt_id</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>

<% for question in @questions %>
  <tr>
    <td><%=h question.answer %></td>
    <td><%=h question.question %></td>
	<td><%=h question.hunt_id %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New question', new_question_path %>
