<h1>Listing questions</h1>

<table>
  <tr>
    <th>Index</th>
    <th>Question</th>
    <th>Hunt_id</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>

<% for question in @questions %>
  <tr>
    <td><%=h question.index %></td>
    <td><%=h question.question %></td>
	<td><%=h question.hunt %></td>
    <td><%= link_to 'Show', question %></td>
    <td><%= link_to 'Edit', edit_question_path(question) %></td>
    <td><%= link_to 'Destroy', question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<h1>Add a Question</h1>
<% form_for(@new_question) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :question %><br />
    <%= f.text_field :question %>
  </p>
  <p>
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
 <p>
 
<!-- <b>Hunts:</b><br/>
 	<select name="question[hunt]">
 		<% @hunts.each do |hunt| %>
 		<option value="<%= hunt.id %>"> 
 		<%= hunt.name %>
 		</option>
 		<% end %>
 	</select> -->
 </p>

<% end %>
