<h1>Listing questions </h1>

<table border=1px>
  <tr>
    <th>Question ID</th>
    <th>Question</th>
    <th>Answer</th>
	<th>location</th>
    <th>Hunt_id</th>
	<th></th>
	<th></th>
	<th></th>
  </tr>

<% for question in @question %>
  <tr>
	<td><%=h question.id %></td>
    <td><%=h question.question %></td>
	<td><%=h question.answer %></td>
	<td><%=h question.location %></td>
	<td><%=h question.hunt_id %></td>
	
    <td><%= link_to 'Show', hunt_question_path(@hunt, question) %></td>
    <td><%= link_to 'Edit', edit_hunt_question_path(@hunt, question) %></td>
    <td><%= link_to 'Destroy', hunt_question_path(@hunt, question), :confirm => 'Are you sure?', :method => :delete %></td>
	<td><%= link_to 'Create/View Hint', question_hints_path( question)%> </td>
  </tr>
<% end %>
</table>



<%= link_to "New Question", new_hunt_question_path(@hunt)%>
<p><%= link_to "Back to Dashboard", hunts_path%></p>


