<% if current_user.creator? %>
<%= render :partial => 'creatorsidebar' %>
<% else %>
<%= render :partial => 'playersidebar' %>
<% end %>

<div id="questionform">
	
<h1>Add a new question</h1>

<% form_for(@question, :url => hunt_questions_path(@hunt), :html => {:onsubmit => "return saveCoords()"}) do |question_form| %>
  <%= question_form.error_messages %>
  <p>
	<h3>Question:</h3>
 	<%= question_form.text_area :question, {:rows => 5, :cols => 60}%>
	<%= question_form.hidden_field :x %>
	<%= question_form.hidden_field :y %>
	<%= question_form.hidden_field :location %>
  </p>
<h3>Possible Answers:</h3>
<p>Please enter the correct answer to this question, as well as 3 other incorrect answers for the quiz. The correct answer can be nominated by selecting the radio button next to the answer.</p>	
	<p>
	<ul>
	  <% i = 0 %>
	  <% question_form.fields_for :answers do |answer_form| %>
	    <li>
     		<%= radio_button_tag(:correct_answer, i)%>
	      <%= answer_form.text_field :text %>

     		<% unless answer_form.object.new_record? %>
   			  <%= answer_form.checkbox ' _delete' %>
  			  <%= answer_form.label '_delete', 'Remove' %>
  		  <% end %>
	    </li>
	    
   		<% i += 1 %>
	  <% end %>
	</ul>
<<<<<<< HEAD:app/views/questions/new.html.erb

  <% question_form.fields_for :hints do |hints_form| %>
      Hint: <%= hints_form.text_field :hint %>
  <% end %>
=======
>>>>>>> aac7b8fb2b0d2320208757cd68a5fd1652d8aa4b:app/views/questions/new.html.erb
	</p>
<h3>Add a Hint</h3>
<p>Add a hint for this question, which will assist the players with progressing through the hunt. The text entered into this box will generate a QR Code [what's this?] which you can then print out for use with your scavenger hunt. </p>

<span class="coderalert"><h1>QR CODE GENERATOR THING GOES HERE </h1></span>

<h3>Add a location</h3>
<p>Now, add a location for this particular question. Use the search box below the map to find a location (e.g. 15 George Street, Brisbane). The arrows below the search field will allow you to sort through the search results until you find the correct location. These locations will be used to place the QR codes for the players to find and utilise to complete the hunt </p>

	<p>
		<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true
		      &amp;key=ABQIAAAAKjtJ2SRbXEm623VFL3-AARQG4PaVB7S9n58-rdHaI0_BpGsanhSK_Lq58Tr3ftDW9OwDNFnsr1wkzA"
		      type="text/javascript">
		  </script>
			<!-- ++Begin Map Search Control Wizard Generated Code++ -->
			  <!--
			  // Created with a Google AJAX Search Wizard
			  // http://code.google.com/apis/ajaxsearch/wizards.html
			  -->

			  <!--
			  // The Following div element will end up holding the map search control.
			  // You can place this anywhere on your page
			  -->
			  <div id="mapsearch">
			    <span style="color:#676767;font-size:11px;margin:10px;padding:4px;">Loading...</span>
			  </div>

			  <!-- Maps Api, Ajax Search Api and Stylesheet
			  // Note: If you are already using the Maps API then do not include it again
			  //       If you are already using the AJAX Search API, then do not include it
			  //       or its stylesheet again
			  //
			  // The Key Embedded in the following script tags is designed to work with
			  // the following site:
			  // http://scamper.heroku.com
			  -->
			  <script src="http://maps.google.com/maps?file=api&v=2&key=ABQIAAAA-pq4VxzqyCDcngyj-qffCxTgs3_ECyR-XC2YXZ8zP-pb8wDoRRQLMYL2qCZ8U68OrZmJb3J5TvJjLg"
			    type="text/javascript"></script>
			  <script src="http://www.google.com/uds/api?file=uds.js&v=1.0&source=uds-msw&key=ABQIAAAA-pq4VxzqyCDcngyj-qffCxTgs3_ECyR-XC2YXZ8zP-pb8wDoRRQLMYL2qCZ8U68OrZmJb3J5TvJjLg"
			    type="text/javascript"></script>
			  <style type="text/css">
			    @import url("http://www.google.com/uds/css/gsearch.css");
			  </style>

			  <!-- Map Search Control and Stylesheet -->
			  <script type="text/javascript">
			    window._uds_msw_donotrepair = true;
			  </script>
			  <script src="http://www.google.com/uds/solutions/mapsearch/gsmapsearch.js?mode=new"
			    type="text/javascript"></script>
			  <style type="text/css">
			    @import url("http://www.google.com/uds/solutions/mapsearch/gsmapsearch.css");
			  </style>

			  <style type="text/css">
			    .gsmsc-mapDiv {
			      height : 400px;
			    }

			    .gsmsc-idleMapDiv {
			      height : 400px;
			    }

			    #mapsearch {
			      width : 500px;
			      margin: 10px;
			      padding: 4px;
			    }
			  </style>
			  <script type="text/javascript">
			    function LoadMapSearchControl() {

			      var options = {
			            zoomControl : GSmapSearchControl.ZOOM_CONTROL_ENABLE_ALL,
			            title : "Brisbane",
			            url : "http://scamper.heroku.com",
			            idleMapZoom : GSmapSearchControl.ACTIVE_MAP_ZOOM,
			            activeMapZoom : GSmapSearchControl.ACTIVE_MAP_ZOOM
			            }

			      mapsearch = new GSmapSearchControl(
			            document.getElementById("mapsearch"),
			            "Brisbane, Australia",
			            options
			            );

			    }
			    // arrange for this function to be called during body.onload
			    // event processing
			    GSearch.setOnLoadCallback(LoadMapSearchControl);

				function saveCoords(){

				  if(mapsearch.markers.length >= 1)
				  {
					var currentindex = mapsearch.currentResultIndex;
				    var ll =  mapsearch.markers[currentindex].latLng;
					var aloc = mapsearch.markers[currentindex].result.addressLines;
					var loc = "";

					for (i = 0; i < aloc.length; i++)
					   {
					   		loc += aloc[i] + " ";
					   }

			      document.getElementById("question_x").value = ll.x;
			      document.getElementById("question_y").value = ll.y;
				  document.getElementById("question_location").value = loc;
			      return true;
				  }
				  else
				  {
				    alert('Please select a valid location');
				    return false;
				  }
						var	thisloc =  thismarker.getLatLng();
				}
			  </script>
			<!-- ++End Map Search Control Wizard Generated Code++ -->
	</p>

  <p>
    <%= question_form.submit "Create" %>
  </p>


<% end %>

<% link_to(hunt_questions_path(@hunt)) do %>
<%= image_tag '/images/buttons/back.png' %> <% end%>
<%= image_tag '/images/buttons/forward.png' %>

</div>
