<h1> New question</h1>

<% form_for(@question, :url => hunt_questions_path(@hunt)) do |question_form| %>
  <%= question_form.error_messages %>
  <p>
    <%= question_form.label :question %><br />
    <%= question_form.text_area :question %>
  </p>



  <p>
    <%= question_form.submit "Create" %>
  </p>


<% end %>

<%= link_to 'Back', hunt_questions_path(@hunt) %>
