<div id="loginbox">
<%= image_tag '/images/weblogo1.gif' %>

<h1>Log In to Start Playing!</h1>

<% form_tag session_path do -%>
<h2><%= label_tag 'username' %></h2>
<%= text_field_tag 'login', @login %>

<h2><%= label_tag 'password' %></h2>
<%= password_field_tag 'password', nil %>

<p><%= submit_tag 'Log in', :id => "mobloginbtn" %></p>
<% end -%>
</div>
