<h1> New Hint</h1>

<% form_for(@hint, :url => question_hints_path(@question)) do |f| %>
  <%= f.error_messages %>


  <p>
    <%= f.label :hint %><br />
    <%= f.text_field :hint %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>


<% end %>

<%= link_to 'Back', hunt_questions_path(@hunt) %>
