<h1>Editing hunt</h1>


<% form_for(@hunt) do |f| %>
  <%= f.error_messages %>
  <p>
   <h3> <%= f.label :name %></h3>
    <%= f.text_field :name, {:size => 70} %>
  </p>
<p>
    <h3><%= f.label :location %></h3>
    <%= f.text_field :location, {:size => 70} %>
  </p>
  <p>
   <h3> <%= f.label :description %></h3>
    <%= f.text_area :description, {:rows => 8, :cols => 60}%>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>


<div id="arrowlinks">
<div id="rightarrow"><% link_to(new_hunt_question_path(@hunt)) do %>
<%= image_tag '/images/buttons/forward.png' %><% end%>
</div>
</div>
