<div id="dashboardheader"><img src="/images/buttons/clipboard.png"/><h1>My Dashboard</h1> 
	<br />
</div>
<% def admin?
 current_user.creator?
end%>
<br />


<% if admin? then%>
<%= link_to 'New Hunt', new_user_hunt_path(current_user), :id => 'createnew' %>
<h1> Hunts Created </h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
	<th>Creator</th>
	<th>View Results</th>
	<th colspan=4>Actions</th>

  </tr>


<% for hunt in @hunts %>
  <tr>
    <td class="huntname"><% link_to hunt_path(hunt) do %><%=h hunt.name %><% end %></td>
    <td class="huntdescription"><%=h hunt.description %></td>
    <td class="huntcreator"><%=h hunt.created_by %></td>
    <td>
    <% link_to (results_hunt_path(hunt)) do %>
	<%= image_tag '/images/buttons/resultstrophy.png',  :title => 'View Results'%>       <%= hunt.users.count %> Playing <% end%>
    </td>
    <td class="huntactions"><% link_to new_hunt_question_path(hunt) do %>
	<%= image_tag '/images/buttons/viewquestionsicon.png',  :title => 'View Questions' %> <% end%></td>
    <td class="huntactions"><% link_to invite_players_hunt_path(hunt) do %>
	<%= image_tag '/images/buttons/viewusersicon.png',  :title => 'View Players'%> <% end%></td>
    <td class="huntactions"><% link_to question_overview_hunt_path(hunt) do %>
	<%= image_tag '/images/buttons/printer.png',  :title => 'View Printable Hunt'%> <% end%></td>
    

    <td class="huntactions"><% link_to hunt, :confirm => 'Are you sure you want to delete this hunt?', :method => :delete do %>
	<%= image_tag '/images/buttons/baleeted.png',  :title => 'Delete Hunt'%> <% end%>
</td>
  </tr>


<% end %>


<% else %>
</table>

<h1> Hunts Participating </h1>
<table>
  <tr>
	<th>Hunt Name</th>    
    <th>Description</th>
    <th>Created By</th>
	<th>Actions</th>
	<th>Score</th>

  </tr>

<% i = 0 %>
<% for hunt in @playerhunts %>
<tr>
    <td class="huntname"><%=h hunt.name %></td>
    <td class="huntdescription"><%=h hunt.description %></td>
    <td class="huntcreator"><%=h hunt.created_by %></td>
    <td class="huntactions"><%= link_to 'View Info', play_hunt_path(hunt) %></td>
     <td class="huntactions"><%= Response.count(:conditions => {:correct => true, :player_id => hunt.players.find_by_user_id(current_user.id)})%></td>
  </tr>
<% end %>
<%end%>
</table>

<br />



