<h1><img src="/images/buttons/clipboard.png" />My Dashboard<INPUT TYPE="image" id="createnew" align="right" onclick="this.src='/images/buttons/createnewhuntonclick.png';" onmouseover="this.src='/images/buttons/createnewhuntmouse.png';"
   onmouseout="this.src='/images/buttons/createnewhuntstandby.png';" SRC="/images/buttons/createnewhuntstandby.png" HEIGHT="55" WIDTH="170" BORDER="0" ALT="Submit Form">
</h1>
<% def admin?
 current_user.creator?
end%>
<br />
<p> Hunts Created </p>

<table>
  <tr>
	<th>Hunt Id</th>    
    <th>Name</th>
    <th>Description</th>
	<th>Creator</th>
	<th colspan=5>Actions</th>
  </tr>

<% for hunt in @hunts %>
  <tr>
	<td class="huntid"><%=h hunt.id %> </td>
    <td class="huntname"><%=h hunt.name %></td>
    <td class="huntdescription"><%=h hunt.description %></td>
    <td class="huntcreator"><%=h hunt.created_by %></td>

	<td class="huntactions"><%= link_to 'View Hunt', hunt_path(hunt) %></td>
    <td class="huntactions"><%= link_to 'Questions', hunt_questions_path(hunt) %></td>
    <td class="huntactions"><%= link_to 'Players', hunt_users_path(hunt) %></td>

    <td class="huntactions"><%= link_to 'Edit', edit_hunt_path(hunt) %></td>
    <td class="huntactions"><%= link_to 'Delete', hunt, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<p> Hunts Participating </p>
<table>

<% for hunt in @playerhunts %>
  <tr>
	<td class="huntid"><%=h hunt.id %> </td>
    <td class="huntname"><%=h hunt.name %></td>
    <td class="huntdescription"><%=h hunt.description %></td>
    <td class="huntcreator"><%=h hunt.created_by %></td>

	<td class="huntactions"><%= link_to 'View Hunt', hunt_path(hunt) %></td>
    <td class="huntactions"><%= link_to 'Questions', hunt_questions_path(hunt) %></td>
    <td class="huntactions"><%= link_to 'Players', hunt_users_path(hunt) %></td>

    <td class="huntactions"><%= link_to 'Edit', edit_hunt_path(hunt) %></td>
    <td class="huntactions"><%= link_to 'Delete', hunt, :confirm => 'Are you sure?', :method => :delete %></td>
    <td class="huntactions"><%= link_to 'Play', play_hunt_path(hunt) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New hunt', new_hunt_path %>

