<div id="dashboardheader"><img src="/images/buttons/clipboard.png"/><h1>My Dashboard</h1> 
	<br />
</div>
<% def admin?
 current_user.creator?
end%>
<br />


<% if admin? then%>
<%= link_to 'New Hunt', new_user_hunt_path(current_user), :id => 'createnew' %>
<h1> Hunts Created </h1>

<table>
  <tr>
	<th>Hunt Id</th>    
    <th>Name</th>
    <th>Description</th>
	<th></th>
	<th></th>
	<th></th>
	<th></th>
	<th></th>
	<th></th>
	

	<th>Creator</th>
	<th colspan=5>Actions</th>
  </tr>


<% for hunt in @hunts %>
  <tr>
	<td class="huntid"><%=h hunt.id %> </td>
    <td class="huntname"><%=h hunt.name %></td>
    <td class="huntdescription"><%=h hunt.description %></td>
    <td class="huntcreator"><%=h hunt.created_by %></td>

	<td class="huntactions"><%= link_to 'View Hunt', hunt_path(hunt) %></td>
    <td class="huntactions"><%= link_to 'Questions', hunt_questions_path(hunt) %></td>
    <td class="huntactions"><%= link_to 'Players', hunt_users_path(hunt) %></td>

    <td class="huntactions"><%= link_to 'Edit', edit_hunt_path(hunt) %></td>
    <td class="huntactions"><%= link_to 'Delete', hunt, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>


<% end %>


<% else %>
</table>

<h1> Hunts Participating </h1>
<table>
  <tr>
	<th>Hunt Id</th>    
    <th>Name</th>
    <th>Description</th>
	<th></th>
	<th></th>

  </tr>


<% for hunt in @playerhunts %>
  <tr>
	<td class="huntid"><%=h hunt.id %> </td>
    <td class="huntname"><%=h hunt.name %></td>
    <td class="huntdescription"><%=h hunt.description %></td>
    <td class="huntcreator"><%=h hunt.created_by %></td>
    <td class="huntactions"><%= link_to 'Play', play_hunt_path(hunt) %></td>
     <td class="huntactions"><%= Response.count(:conditions => {:correct => true, :player_id => hunt.players.find_by_user_id(current_user.id)})%></td>
  </tr>
<% end %>
<%end%>
</table>

<br />



