<h1>Invite Players to your Hunt!</h1>
<% if @current_players %>
  <h3>Players already in the game</h3>
	<table>
		<tr>
		<th>Name</th>
		<th>Organisation</th>
		<th>Actions</th>
		</tr>
	<% for player in @current_players %>


	<tr>
	<td><%= player.user.login%></td>
	<td>  <%= player.user.organisation %></td>
	<td><%= link_to 'Remove player from hunt', player_path(player.id), :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
  </table>
<% end %>
<br />


<% if @player_users %>
<h3>Players that can be added</h3>
<table>
	
	<tr>
	<th><b>Name</b></th>
	<th><b>Organisation</b></th>
	<th><b>Add user <b></th>
	</tr>
<% form_tag(add_players_hunt_path, :method => :put) do %>
	<% @player_users.each do |user| %>

	<tr>
	<td><%= user.login%></td>
	<td>  <%= user.organisation %></td>
	<td><%= radio_button_tag :user_ids, user.id %> Add this one! </td>
	</tr>
	<% end %>
	<tr><td></td><td></td><td><%= submit_tag 'add users' %></td></tr>
<% end %>
</table>

<% else %>
  You have no users to add! =(
<% end %>
<br />
<br />
<div id="arrowlinks">
<div id="leftarrow"><% link_to(new_hunt_question_path(@hunt)) do %>
<%= image_tag '/images/buttons/back.png' %><% end %></div>
<div id="rightarrow">
<% link_to(hunt_path(@hunt)) do %>
<%= image_tag '/images/buttons/forward.png' %><% end %>
</div>
</div>
