<h1>Invite Players to your Hunt!</h1>
<% if @current_players %>
  <h3>Players already in the game</h3>
	<table>
		<tr>
		<th>Name</th>
		<th>Organisation</th>
		<th>Actions</th>
		</tr>
	<% for player in @current_players %>


	<tr>
	<td><%= player.login%></td>
	<td>  <%= player.organisation %></td>
	<td><%= link_to 'Remove player from hunt', hunt_user_path(@hunt, player), :confirm => 'Are you sure?', :method => :delete %></td>
	</tr>
	<% end %>
  </table>
<% end %>
<br />


<% if @player_users %>
Add your players
<table>
	
	<tr>
	<th><b>Name</b></th>
	<th><b>Organisation</b></th>
	<th><b>Add user <b></th>
	</tr>
<% form_tag(add_players_hunt_path, :method => :put) do %>
	<% @player_users.each do |user| %>

	<tr>
	<td><%= user.login%></td>
	<td>  <%= user.organisation %></td>
	<td><%= check_box_tag :user_ids, user.id %> Add this one! </td>
	</tr>
	<% end %>
	<tr><td></td><td></td><td><%= submit_tag 'add users'%></td></tr>
<% end %>
<% else %>
  You have no users to add! =(
</table>
<% end %>


<%= image_tag '/images/buttons/back.png' %>

<%= image_tag '/images/buttons/forward.png' %>