<h2>Set Up the Quiz</h2>
<p>Create questions, answers and hints(optional) for the game. A location point must be set for each question on the map. QR codes <a href"">[what's this?]</a> can also be created for questions.</p>

<div id="form">
<% form_for(@hunt) do |f| %>
  <%= f.error_messages %>
<table>

	<tr>
		<td><h3>The name of this hunt:</h3></td><td> <%= f.text_field :name, {:size => 47} %></td>
	</tr>
	<tr>
		<td><h3>Description of hunt:</h3></td><td><%= f.text_area :description %></td>
	</tr>
	<tr>
		<td><h3>Location(s):</h3></td><td><%= f.text_field :location, {:size => 47} %></td>
	</tr>
	<tr>
		<td><h3>Subject/Topics:</h3></td><td><%= f.text_area :subject %></td>
	</tr>
	<tr>
		<td><h3>School/Organization:</h3></td><td><%= f.text_field :schoolname, {:size => 47} %></td>
	</tr>


	</table>

	
	
	<br />
<%= f.submit "Create" %>

<% end %>

