<h2>New Hunt</h2>
<% form_for(@hunt) do |f| %>
  <%= f.error_messages %>
<table>
	<tr>
		<td>Hunt title*</td><td> <%= f.text_field :name %></td>
	</tr>
	<tr>
		<td>Locale</td><td><%= f.text_field :location %></td>
	</tr>
	<tr>
		<td>subject</td><td><%= f.text_field  :subject %></td>
	</tr>

	<tr>
		<td>school name</td><td><%= f.text_field :schoolname %></td>
	</tr>
	<tr>
		<td>Description</td><td><%= f.text_area :description %></td>
	</tr>



	</table>

	
<%= f.submit "Create" %>

<% end %>
<h4><a href="reset.html">reset</a></h4>
<h4><a href="activate.html">activate</a></h4>
