<div id="welcomebanner"><h1>Hunt Overview</h1>
<p>
  <%=h @hunt.name %>
</p>

</div>

<div id="huntdetails">
  <b>Description:</b>
  <%=h @hunt.description %>
</p>
<p>
  <b>Location:</b>
  <%=h @hunt.location %>
</p>
<p>
  <b>Subject:</b>
  <%=h @hunt.subject %>
</p>
	<% if @questions.not_answered(@current_player).count > 0 %>
  <p>	<%= link_to 'Play', hunt_question_response_path(@hunt, @questions.not_answered(@current_player).rand), :id => 'playhuntbtn' %></p>
  <% else %>
  You have already answered all of the questions in the this hunt. Click <%= link_to 'here', completed_hunt_path(@hunt) %> to view your results.
  <% end %>
<div id="dashboardlink"><%= link_to '< Go Back', user_hunts_path(current_user) %></div>
</div>