<h1>Participating: Hunt Details</h1>

<p>
  <b>Name:</b>
  <%=h @hunt.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @hunt.description %>
</p>

<b>Map:</b>
<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true
      &amp;key=ABQIAAAA-pq4VxzqyCDcngyj-qffCxTgs3_ECyR-XC2YXZ8zP-pb8wDoRRQLMYL2qCZ8U68OrZmJb3J5TvJjLg"
      type="text/javascript">
  </script>
    <script type="text/javascript">
    function initialize() {
      if (GBrowserIsCompatible()) {
        geoXml = new GGeoXml("http://scamper.heroku.com<%= hunt_questions_path(@hunt, :format => 'kml') + "?" + Time.now.strftime("%H%M%S").to_s %>");

        var map = new GMap2(document.getElementById("map_canvas"));
        map.setCenter(new GLatLng(-27.46758, 153.027892), 13);
        map.setUIToDefault();
        map.addOverlay(geoXml);	
      }
    }

	</script>
<p>
	
	QUESTION<br />
	<table>
		<% @questions.each do |question| %>
		 <td><td>Question:</td>
		  <td><%=h question.question %></td>
		    <td><%= link_to 'Show', hunt_question_response_path(question.hunt, question) %></td>
		</tr>
		<% end %>
	</table>