<h1>Hunt Overview</h1>


  <h3>Name:</h3> <%=h @hunt.name %>

  <h3>Description:</h3>
  <%=h @hunt.description %>

<h3>List of Questions:</h3>
<div id="huntoverview_questions">	<table>
		<th>Question Number</th>
		<th>Question</th>
		
		<th>Answer</th> 
		<% i = 1%>
		<% @questions.each do |question| %>
	
		  <tr><td><%= i %> <% i += 1 %></td><td><%=h question.question %></td><td><%=h question.correct_answer %></td></tr>
		<% end %>
	</table>
	<%= link_to 'View Player stats', (results_hunt_path(@hunt)) %>
</div>

<h3>Question Locations:</h3>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true
	      &amp;key=ABQIAAAA-pq4VxzqyCDcngyj-qffCxTgs3_ECyR-XC2YXZ8zP-pb8wDoRRQLMYL2qCZ8U68OrZmJb3J5TvJjLg"
	      type="text/javascript">
	  </script>
	    <script type="text/javascript">
	    function initialize() {
	      if (GBrowserIsCompatible()) {
          geoXml = new GGeoXml("http://scamper.heroku.com<%= hunt_questions_path(@hunt, :format => 'kml') + "?" + Time.now.strftime("%H%M%S").to_s %>");

          var map = new GMap2(document.getElementById("map_canvas"));
          map.setCenter(new GLatLng(-27.46758, 153.027892), 13);
          map.setUIToDefault();
          map.addOverlay(geoXml);	
	      }
	    }

		</script>
	    <div id="map_canvas" style="width: 500px; height: 300px"></div>
	
	</br>
</br>
			
<br />
<% link_to(hunts_path) do %>
<%= image_tag '/images/buttons/back.png' %> <% end%>