<h1>Hunt Details</h1>

<%= qrcode("test") %>

<p>
  <b>Name:</b>
  <%=h @hunt.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @hunt.description %>
</p>


<%= link_to 'Edit', edit_user_hunt_path(@hunt) %> |
<%= link_to 'Back', hunts_path %>
<p>
	QUESTIONS<br />
	<table>
		<% @questions.each do |question| %>
		
		  <tr><td><b>Question:</b></td></tr>
		  <tr><td><%=h question.question %></td></tr>
			 <tr><td><b>Answer: </b></td></tr>
			  <tr><td><%=h question.answer %></td></tr>
		<% end %>
	</table>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true
	      &amp;key=ABQIAAAA-pq4VxzqyCDcngyj-qffCxTgs3_ECyR-XC2YXZ8zP-pb8wDoRRQLMYL2qCZ8U68OrZmJb3J5TvJjLg"
	      type="text/javascript">
	  </script>
	    <script type="text/javascript">
	    function initialize() {
	      if (GBrowserIsCompatible()) {
          geoXml = new GGeoXml("http://scamper.heroku.com<%= hunt_questions_path(@hunt, :format => 'kml') %>");
          var map = new GMap2(document.getElementById("map_canvas"));
          map.setCenter(new GLatLng(-27.46758, 153.027892), 13);
          map.setUIToDefault();
          map.addOverlay(geoXml);	
	      }
	    }

		</script>
	    <div id="map_canvas" style="width: 500px; height: 300px"></div>
	
	</br>
</br>
		Add User to Hunt (use checkboxes to add the users to this hunt)
		
		<table>
		<% form_tag(add_player_hunt_path, :method => :put) do %>
			<% @users.each do |user| %>
			<tr>
			<th><b>Name</b></th>
			<th><b>user ID</b></th>
			<th><b>Add user <b></th>
			</tr>
			<tr>
			<td><%= user.login%></td>
			<td>  <%= user.id %></td>
			<td><%= check_box_tag :user_ids, user.id %> </td>
			</tr>
			<% end %>
			<tr><td></td><td></td><td><%= submit_tag 'add users'%></td></tr>
			</table>
		<% end %>
		
		<INPUT TYPE="image" SRC="/images/buttons/seeresults.png" HEIGHT="45" WIDTH="170" BORDER="0" ALT="Submit Form"><br /><br />
		<INPUT TYPE="image" SRC="/images/buttons/viewlistofplayers.png" HEIGHT="45" WIDTH="170" BORDER="0" ALT="Submit Form"><br /><br />
		<INPUT TYPE="image" SRC="/images/buttons/printQR.png" HEIGHT="45" WIDTH="170" BORDER="0" ALT="Submit Form"><br /><br />
