<p>
  <b>Name:</b>
  <%=h @hunt.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @hunt.description %>
</p>

<p>
  <b>Location:</b>
  <%=h @hunt.location %>
</p>

<p>
  <b>Subject:</b>
  <%=h @hunt.subject %>
</p>

<p>
  <b>School name:</b>
  <%=h @hunt.schoolname %>
</p>


<%= link_to 'Edit', edit_hunt_path(@hunt) %> |
<%= link_to 'Back', hunts_path %>
