<p>
  <b>Name:</b>
  <%=h @hunt.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @hunt.description %>
</p>


<%= link_to 'Edit', edit_hunt_path(@hunt) %> |
<%= link_to 'Back', hunts_path %>
<p>
	
	
	<% @question.each do |question| %>
		 <b>Answer:</b>
		  <%=h question.answer %>
	</p>

	<p>
	  <b>Question:</b>
	  <%=h question.question %>
	</p>



	<% end %>
