<p>
  <b>Name:</b>
  <%=h @hunt.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @hunt.description %>
</p>


<%= link_to 'Edit', edit_hunt_path(@hunt) %> |
<%= link_to 'Back', hunts_path %>
<p>
	
	QUESTIONS<br />
	<% @question.each do |question| %>
		 <b>Answer:</b>
		  <%=h question.answer %>
	</p>

	<p>
	  <b>Question:</b>
	  <%=h question.question %>
	</p>
	<% end %>
	<p>
		
		USERS<br />
		
		<% form_tag(add_player_hunt_path, :method => :put) do %>
			<% @users.each do |user| %>
				 <b>Name</b>
				  <%= user.login%>
			</p>

			<p>
			  <b>ID</b>
			  <%= user.id %>
			</p>
		
			<p>
			<%= check_box_tag :user_ids, user.id %>
			</p>
			<% end %>
			<%= submit_tag 'add users'%>
		<% end %>
