<h1>Hunt Details</h1>

<p>
  <b>Name:</b>
  <%=h @hunt.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @hunt.description %>
</p>


<%= link_to 'Edit', edit_user_hunt_path(@hunt) %> |
<%= link_to 'Back', hunts_path %>
<p>
	
	QUESTIONS<br />
	<table>
		<% @questions.each do |question| %>
			 <tr><td>Answer: </tr></td>
			  <tr><td><%=h question.answer %></tr></td>
		  <tr><td>Question:</tr></td>
		  <tr><td><%=h question.question %></tr></td>
		<% end %>
	</table>
	<script src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=true
	      &amp;key=ABQIAAAAKjtJ2SRbXEm623VFL3-AARQG4PaVB7S9n58-rdHaI0_BpGsanhSK_Lq58Tr3ftDW9OwDNFnsr1wkzA"
	      type="text/javascript">
	  </script>
	    <script type="text/javascript">
	    function initialize() {
	      if (GBrowserIsCompatible()) {
			 geoXml = new GGeoXml("<%= hunt_questions_path(@hunt, @questions, :format => :kml) %>");
	        var map = new GMap2(document.getElementById("map_canvas"));
	        map.setCenter(new GLatLng(-27.46758, 153.027892), 13);
	        map.setUIToDefault();
			map.addOverlay(geoXml);	
	      }
	    }

		</script>
	    <div id="map_canvas" style="width: 500px; height: 300px"></div>
	
		
		USERS<br />
		
		<% form_tag(add_player_hunt_path, :method => :put) do %>
			<% @users.each do |user| %>
				 <b>Name</b>
				  <%= user.login%>
			</p>

			<p>
			  <b>ID</b>
			  <%= user.id %>
			</p>
		
			<p>
			<%= check_box_tag :user_ids, user.id %>
			</p>
			<% end %>
			<%= submit_tag 'add users'%>
		<% end %>
		
		<INPUT TYPE="image" SRC="/images/buttons/seeresults.png" HEIGHT="45" WIDTH="170" BORDER="0" ALT="Submit Form"><br /><br />
		<INPUT TYPE="image" SRC="/images/buttons/viewlistofplayers.png" HEIGHT="45" WIDTH="170" BORDER="0" ALT="Submit Form"><br /><br />
		<INPUT TYPE="image" SRC="/images/buttons/printQR.png" HEIGHT="45" WIDTH="170" BORDER="0" ALT="Submit Form"><br /><br />
