<%= render :partial => 'questions/playersidebar' %>

<div id="answerform">
<% form_for :response, @response, hunt_question_response_path(@question.hunt, @question, @response) do |response_form| %>
  <p>
    <b>Question:</b>
    <%=h @question.question %>
  </p>
  
  <ul>
    <% @question.answers.each do |answer| %>
      <li>
        <%= response_form.radio_button :answer_id, answer.id %>
        <%= response_form.label "answer_id_#{answer.id}", answer.text %>
      </li>
    <% end %>
  </ul>
  <% if @question.hints.count > 0 %>
  <%= @question.hints.first.hint %>
  <% end %>
  <%= response_form.submit 'Answer' %>
<% end %>
</div>