<h1>Add a user as a player for <%= @hunt.name%> </h1>

<% form_tag join_players_path(@hunt), :method => :put do %>
<table>
  <tr>
	<th>User ID</th>
    <th>Username</th>
  </tr>
	<% for user in @user %>
	  <tr>
	  	<td><%=h user.id %></td>
		  <td><%=h user.login %></td>
			<td><%= check_box_tag "user_id[]", user.id %></td>
	  </tr>
	<% end %>
</table>
<%= submit_tag %>
<% end %>

<br />


