<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Scamper: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'style' %>
	<%= javascript_include_tag 'application' %>
</head>

<body onload="initialize()" onunload="GUnload()">

<div id="container">
	<div id="dashboard" class="column">
		<div id="player">
			<div class="userwelcome">
				<% if logged_in? %>
					Hi <%= current_user.login %>!
					<%= link_to '(edit your profile)', edit_user_path(current_user) %>
					<% end %>
			</div>
			<div class="help">
				<a href="help.html">Help!</a>
			</div>
			<div class="signout">
				<% if logged_in? %>
					<%= link_to 'Sign Out', logout_path %>	<% else %> 
					<%= link_to 'Sign In', login_path %>
				<% end %> 
			</div>


	</div>
</div>

<div id="dasshboard">
  <% if !@hideprofilebutton %>
  <% link_to(edit_hunt_path(@hunt), :id => "huntprofile") do %>
   <span>huntprofile</span>
  <% end%>
  <% else %>
  <% link_to(new_hunt_path, :id => "huntprofile") do %>
   <span>huntprofile</span>
  <% end%>
  <% end %>

  <% if !@hideprofilebutton %>
  <% link_to(new_hunt_question_path(@hunt), :id => "quizsetup") do %>
   <span>quizsetup</span>
  <% end%>
    <% link_to(invite_players_hunt_path(@hunt), :id => "inviteplayers") do %>
     <span>inviteplayers</span>
    <% end%>
    <% link_to(hunt_path(@hunt), :id => "overview") do %>
      <span>overview</span>
    <% end %>

  <% end %>

</div>

<div id="center" class="column">

<div id="content">

<p style="color: green"><%= flash[:notice] %><%= flash[:error] %></p>

<%= yield  %>
</div>
</div>
</div>
</body>
</html>
