<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Scamper: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'style' %>
</head>

<body>

<div id="container">
<div id="dashboard" class="column">
		<img src="/images/logo.png" />
		
		<div id="player">
		<p><% if logged_in? %>
           Hi <%= current_user.login %>!
           <% end %>
           <a href="edit.html">(edit your profile)</a>
           <% if logged_in? %>
              <a href="logout">LOG OUT</a>
              <% end %> </p>
	</div>
</div>
<div id="center" class="column">
<div id="content">

<p style="color: green"><%= flash[:notice] %><%= flash[:error] %></p>

<%= yield  %>
</div>
</div>
</div>
</body>
</html>
