<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Scamper: <%= controller.action_name %></title>
	<%= stylesheet_link_tag 'mobile' %>
	<%= javascript_include_tag 'application' %>
</head>

<body onload="initialize()" onunload="GUnload()">

<div id="container">
	<div id="mobbanner" class="column">
				<%= image_tag '/images/moblogo.gif' %>
			<div class="signout">
				<% if logged_in? %>
					<%= link_to 'Sign Out', logout_path %>	<% else %> 
					<%= link_to 'Sign In', login_path %>
				<% end %> 
			</div>
	</div>
</div>
<div id="center" class="column">
<div id="content">

<p style="color: black"><%= flash[:notice] %><%= flash[:error] %></p>

<%= yield  %>

</div>
</div>
</div>
</body>
</html>
