<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Hunts: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'style' %>
</head>
<body>
	
	<div id="container">

	<div id="header">
	<img src="images/header1.png" />

	<div id="player">
		<p><% if logged_in? %>
           Hi <%= current_user.login %>!
           <% end %>
           <a href="edit.html">(edit your profile)</a>
           <% if logged_in? %>
              <a href="logout">LOG OUT</a>
              <% end %> </p>


	</div>
	</div>
<div id="content">
<p style="color: green"><%= flash[:notice] %><%= flash[:error] %></p>
<table>
	<tr><td><h1>Title |</h1></td><td><h1><a href="questions">Q and A</a> |</h1></td><td><h1><a href="createQR.html">QR Codes</a> |</h1></td><td><h1><a href="createplayers.html">Players</a></h1></td>

		</tr>
		</table>
<%= yield  %>
</div>


</div>

</body>
</html>
